<div class="sbox-header"><h7 class="sbox-title">"Ruang Rindu Pecinta Sastra"</h7><p class="sbox-description">narakata.id adalah media yang berisi kumpulan karya sastra, seperti cerita pendek (cerpen), pantun, peribahasa, dan puisi. Temukan karya sastra favoritmu di sini.</p></div>
<div class="A8SBwf" jscontroller="mvYTse" jsmodel="TMlYFc" jsdata="LVplcb;_;" jsaction="lX6RWd:w3Wsmc;DkpM0b:d3sQLd;IQOavd:dFyQEf;XzZZPe:jI3wzf;Aghsf:AVsnlb;iHd9U:Q7Cnrc;f5hEHe:G0jgYd;vmxUb:j3bJnb;R2c5O:LuRugf;R3Yrj:DURTdb;qiCkJd:ANdidc;NOg9L:HLgh3;uGoIkd:epUokb;zLdLw:eaGBS;rcuQ6b:npT2md">
<div class="RNNXgb" jsname="RNNXgb">
<div class="SDkEP">
<div class="iblpc" jsname="uFMOof">
<div class="hsuHs">
<span class="wFncld z1asCe MZy1Rb"><svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
</svg>
</span>
</div>
</div>
<form action="/search/" method="get" class="d-none d-md-block"><div class="input-group"><input name="q" type="text" class="form-control" placeholder="Kata kunci..">
</div></form>
  <div class="dRYYxd"></div>
  </div>
  </div>
  </div>
